<div class="container my-4">
    <!-- Question Container -->
    <div class="p-4 border-2 rounded question-container"
        :class="validationErrors.valid_overall ? 'bg-success-subtle' : 'bg-danger-subtle'">

        <!-- Question Title -->
        <div class="mb-4">
            <label for="questionTitle" class="form-label fw-bold">{{questionCreationKey}}</label>
            <textarea id="questionTitle" v-model="questionTitle" class="form-control" rows="3"
                placeholder="Enter your question here..."></textarea>
            <div v-if="validationErrors.questionTitle" class="text-danger">
                {{ validationErrors.questionTitle }}
            </div>
        </div>

        <transition-group name="custom-transition" tag="div">
            <!-- Option List -->
            <div v-for="(option, index) in optionList" :key="index" class="p-3 border-1 option-container rounded mb-2"
                :class="{'border-success bg-success-subtle': option.isCorrect}">

                <!-- Option Input -->
                <input v-model="option.text" type="text" class="form-control mb-2" placeholder="Enter option text">
                <div v-if="validationErrors.options[index]" class="text-danger">
                    {{ validationErrors.options[index] }}
                </div>

                <!-- Buttons (Stacked on Mobile) -->
                <div class="d-flex flex-column flex-sm-row gap-2">
                    <button class="btn btn-outline-success" @click="toggle_is_correct(index)">
                        {{ option.isCorrect ? 'Mark incorrect' : 'Mark correct' }}
                    </button>
                    <button v-if="optionList.length>2" class="btn btn-outline-danger" @click="remove_option(index)">
                        Remove
                    </button>
                </div>
            </div>
        </transition-group>

        <!-- Error for correct option selection  -->
        <div v-if="!validationErrors.valid_overall" class="text-danger mt-2">
            {{ validationErrors.errormsg_overall }}
        </div>

        <!-- Add Option Button -->
        <button class="btn btn-outline-primary mt-3" @click="add_option">
            Add Option
        </button>
    </div>
</div>