<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> -->

    <!-- Global Styles -->
    <style>
        /* 🌟 Base Styles */
        body {
            font-family: 'Arial', sans-serif;
            background: #97c4f0;
            margin: 0;
            padding: 0;
        }

        .app-container {
            max-width: 900px;
            width: 95%;
            margin: 20px auto;
            padding: 20px;
            background: #ecf4ca;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;
        }

        /* 🎨 Styling the whole question block */
        .question-container {
            border: solid #0e1f11;
        }

        /* 🏷️ Styling each option block */
        .option-container {
            border: solid #0e1f11;
        }

        /* 🖱️ Hover Effects */
        .option-container:hover {
            border-color: #007bff;
            /* Highlight border on hover */
            box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
            /* Light blue shadow */
        }



        /* this section covers about element/s addition or deletion */
        /* Enter: When a new item is added */
        .custom-transition-enter-active,
        .custom-transition-leave-active {
            transition: all 0.8s ease;
        }

        .custom-transition-enter-from {
            opacity: 0;
            transform: scale(0.8);
        }

        .custom-transition-leave-to {
            opacity: 0;
            transform: scale(1.3);
        }

        .custom-transition-move {
            transition: transform 0.8s ease;
        }
    </style>


</head>

<body>
    <div id="app" class="app-container">

        <script>
            const { ref, onMounted, computed, onUnmounted } = Vue;

            const SCQ = {
                props: {
                    // mode of component. edit, attempt, show
                    mode: {
                        type: String,
                        required: true
                    },

                    // this is for creating question
                    _questionCreationKey: {
                        type: String
                    },

                    // this is for editQuestion, attemptQuiz, reviewQuiz
                    _questionData: {
                        type: Object
                    },

                    // this is for reviewQuiz
                    _answerData: {
                        type: Object
                    }
                },
                emits: ['createdQuestion', 'attemptedQuestion'],
                setup(props, { emit }) {

                    // for creating the question
                    const questionTitle = ref('');
                    const optionList = ref([
                        { text: '', isCorrect: false },
                        { text: '', isCorrect: false }
                    ]);


                    const validationErrors = computed(() => {

                        const error_optionList = [];

                        optionList.value.forEach(element => {
                            if (element.text.trim().length > 0) {
                                error_optionList.push("")
                            }
                            else {
                                error_optionList.push("cannot be blank")
                            }

                        });
                        // console.log(error_optionList.every(option => option.trim().length > 0))

                        const is_valid = {
                            questionTitle: questionTitle.value.trim().length > 0 ? "" : "cannot be blank",
                            options: error_optionList,
                            valid_overall: error_optionList.every(option => option.trim().length === 0) &&
                                questionTitle.value.trim().length > 0 &&
                                optionList.value.filter(option => option.isCorrect).length === 1
                        }
                        // update the parent about how is the question looking
                        emit("createdQuestion", {
                            _is_valid: is_valid.valid_overall,
                            ...{
                                title: questionTitle,
                                optionList: optionList
                            }
                        })

                        return {
                            ...is_valid,
                            errormsg_overall: optionList.value.filter(option => option.isCorrect).length !== 1 ? "Should have exactly one correct answer" : "some error in question"
                        }
                    });

                    // Function to add a new option
                    const add_option = () => {
                        optionList.value.push({ text: '', isCorrect: false });
                    };

                    // Function to remove an option
                    const remove_option = (index) => {
                        optionList.value.splice(index, 1);
                    };

                    // Function to toggle correct option
                    const toggle_is_correct = (index) => {
                        optionList.value[index].isCorrect = !optionList.value[index].isCorrect;
                    };

                    // -----------------for attempt mode
                    if (props.mode === 'attempt') {
                        // update the questionTitle and options
                        questionTitle.value = props._questionData.title;
                        optionList.value = props._questionData.optionList;
                    }
                    const selectedOption = ref(-1);
                    const updateUserSelection = (answerIndex) => {
                        selectedOption.value = answerIndex;

                        if (selectedOption.value > -1) {
                            // have selection something
                            emit('attemptedQuestion', {
                                _have_answered: true,
                                _mark_obtained: optionList.value[selectedOption.value]?.isCorrect ? 1 : 0,
                                selectedOptionIndex: selectedOption.value
                            })
                        }
                    };

                    return {
                        // used while creating the question
                        questionTitle,
                        optionList,
                        add_option, remove_option, toggle_is_correct,
                        validationErrors,
                        selectedOption,
                        updateUserSelection

                    };
                },

                template: `
 <div class="container my-4">

    <div v-if="mode==='edit'">
        <!-- Question Container -->
        <div class="p-4 border-2 rounded question-container"
            :class="validationErrors.valid_overall ? 'bg-success-subtle' : 'bg-danger-subtle'">

            <!-- Question Title -->
            <div class="mb-4">
                <!-- <label for="questionTitle" class="form-label fw-bold"></label>-->
                <textarea id="questionTitle" v-model="questionTitle" class="form-control" rows="3"
                    placeholder="Enter your question here..."></textarea>
                <div v-if="validationErrors.questionTitle" class="text-danger">
                    {{ validationErrors.questionTitle }}
                </div>
            </div>

            <!-- <transition-group name="custom-transition" tag="div"> -->
            <!-- Option List -->
            <div v-for="(option, index) in optionList" :key="index" class="p-3 border-1 option-container rounded mb-2"
                :class="{'border-success bg-success-subtle': option.isCorrect}">
                <!-- Option Input -->
                <input v-model="option.text" type="text" class="form-control mb-2" placeholder="Enter option text">
                <div v-if="validationErrors.options[index]" class="text-danger">
                    {{ validationErrors.options[index] }}
                </div>

                <!-- Buttons (Stacked on Mobile) -->
                <div class="d-flex flex-column flex-sm-row gap-2">
                    <button class="btn btn-outline-success" @click="toggle_is_correct(index)">
                        {{ option.isCorrect ? 'Mark incorrect' : 'Mark correct' }}
                    </button>
                    <button v-if="optionList.length>2" class="btn btn-outline-danger" @click="remove_option(index)">
                        Remove
                    </button>
                </div>
            </div>
            <!-- </transition-group> -->

            <!-- Error for correct option selection  -->
            <div v-if="!validationErrors.valid_overall" class="text-danger mt-2">
                {{ validationErrors.errormsg_overall }}
            </div>

            <!-- Add Option Button -->
            <button class="btn btn-outline-primary mt-3" @click="add_option">
                Add Option
            </button>
        </div>
    </div>

    <div v-else-if="mode === 'attempt'">
        <!-- Question Container -->
        <div class="p-4 border-2 rounded question-container"
            :class="selectedOption !== null ? 'bg-success-subtle' : 'bg-danger-subtle'">

            <!-- Question Title (Read-Only) -->
            <div class="mb-4">
                <p class="fw-bold">{{ questionTitle }}</p>
            </div>

            <!-- Option List -->
            <div v-for="(option, index) in optionList" :key="index" class="p-3 border-1 option-container rounded mb-2"
                :class="{'border-warning bg-warning-subtle': selectedOption === index}"
                @click="updateUserSelection(index)">
                <!-- Selectable Options -->
                <label class="form-check-label">
                    {{ option.text }}
                </label>
            </div>
            <!-- Error Message if No Option is Selected -->
            <div v-if="selectedOption===-1" class="text-danger mt-2">
                Please select at least one option.
            </div>

        </div>
    </div>

    <div v-else-if="mode==='show'">
        <!-- Question Container -->
        <div class="p-4 border-2 rounded question-container"
            :class="_answerData._mark_obtained===1? 'bg-success-subtle' : 'bg-danger-subtle'">

            <!-- Question Title (Read-Only) -->
            <div class="mb-4">
                <p class="fw-bold">{{ questionTitle }}</p>
            </div>

            <!-- Option List -->
            <div v-for="(option, index) in optionList" :key="index" class="p-3 border-1 option-container rounded mb-2"
            :class="[
                        selectedOption === _answerData.selectedOptionIndex ? 'border-warning bg-warning-subtle' : '',
                        option.isCorrect ? 'bg-success-subtle' : 'bg-danger-subtle'
                    ]"
             >
                <!-- Selectable Options -->
                <label class="form-check-label">
                    {{ option.text }} {{option.isCorrect?'(correct answer)':''}}
                </label>
            </div>
        </div>

    </div>
    </div>
  `
            };

            const createQuiz = {
                components: {
                    SCQ
                },
                props: {
                },
                emits: ['newQuizCreated'],
                setup(props, { emit }) {

                    const reference_section = ref("");
                    const questionTypes = ref(["SCQ", "MCQ"]);
                    const defaultQtype = ref("SCQ"); // Default selection

                    const questions = ref({
                        Q1: { _id: 'Q1', _qtype: "SCQ", _qdata: {}, _is_valid: false } // Start with one question
                    });

                    // Compute if all questions are valid
                    const isValidQuiz = computed(() => {
                        return Object.values(questions.value).every(q => q._is_valid) &&
                            reference_section.value.trim().length > 0
                    });

                    // Function to find the next question key (Q1, Q2, Q3...)
                    const getNextQuestionKey = () => {
                        const keys = Object.keys(questions.value).map(k => parseInt(k.substring(1))); // Extract numbers
                        const maxKey = Math.max(...keys);
                        return `Q${maxKey + 1}`;
                    };

                    // Add new question
                    const addQuestion = () => {
                        const newKey = getNextQuestionKey();
                        questions.value[newKey] = {
                            _id: newKey,
                            _qtype: defaultQtype.value,
                            _qdata: {},
                            _is_valid: false
                        };
                    };

                    // Remove a question
                    const removeQuestion = (key) => {
                        delete questions.value[key];
                    };

                    // Update question data
                    const updateQuestion = (key, qdata) => {
                        questions.value[key]._qdata = qdata;
                        questions.value[key]._is_valid = qdata._is_valid;
                    };
                    const submitQuiz = () => {

                        emit('newQuizCreated', {
                            _qData: questions.value,
                            _metaData: {
                                source: reference_section.value,
                                upload_time: new Date().toISOString()
                            },
                            _is_valid: isValidQuiz.value
                        })
                        questions.value = { Q1: { _id: 'Q1', _qtype: "SCQ", _qdata: {}, _is_valid: false } }// Start with one question

                    };
                    onMounted(() => {
                        alert("create Quiz mounted")
                    });

                    return {
                        reference_section,
                        questionTypes,
                        defaultQtype,
                        questions,
                        isValidQuiz,
                        addQuestion,
                        removeQuestion,
                        updateQuestion,
                        getNextQuestionKey,
                        submitQuiz
                    };
                },

                template: `
<div>

    <!-- get the section of S -->
    <div class="d-flex flex-column justify-content-center align-items-center px-3">
        <label for="sbInput" class="form-label fs-5 mb-2 text-center">Enter SB section</label>
        <div class="w-100 w-sm-75 w-md-50 w-lg-40">
            <input type="text" id="sbInput" class="form-control text-wrap p-2" placeholder="Enter text here..."
                style="white-space: normal; word-wrap: break-word;" v-model="reference_section">
        </div>

        <div v-if="reference_section.trim().length==0" class="text-danger">
            Please enter the reference SB section
        </div>
    </div>



    <!-- Questions List -->
    <!-- <transition-group name="custom-transition" tag="div"> -->
    <div v-for="(question, key) in questions" :key="key">
        <hr class="my-4 border border-2 border-dark opacity-75" />

        <!-- Question Type Selection (Flex Row) -->
        <div class="mb-2 d-flex align-items-center">

            <!-- Leftmost "Q1" Display in Red Circle -->
            <div
                class="d-flex align-items-center justify-content-center fs-5 border border-danger rounded-circle p-2 me-3">
                {{key}}
            </div>

            <!-- Centered Buttons -->
            <div class="d-flex justify-content-center gap-3 flex-grow-1">
                <button :class="['btn', question._qtype === 'SCQ' ? 'btn-primary' : 'btn-outline-primary']"
                    @click="questions[key]._qtype = 'SCQ'">
                    SCQ
                </button>

                <button :class="['btn', question._qtype === 'MCQ' ? 'btn-primary' : 'btn-outline-primary']"
                    @click="questions[key]._qtype = 'MCQ'">
                    MCQ
                </button>
            </div>

            <!-- Right-Aligned Close Button -->

            <button v-if="Object.keys(questions).length > 1" type="button"
                class="btn-close ms-auto fs-5 border border-danger rounded-circle p-2 shadow-sm" aria-label="Close"
                @click="removeQuestion(key)">
            </button>

        </div>


        <!-- Render Question Component Based on Type -->
        <div v-if="question._qtype==='SCQ'">
            <SCQ :mode="'edit'" :_questionCreationKey="key" @createdQuestion="updateQuestion(key,$event)" />
        </div>

    </div>

    <!-- Add New Question -->
    <div class="d-flex">
        <button class="btn btn-success mt-3" @click="addQuestion">
            ➕ Add {{getNextQuestionKey()}}
        </button>
    </div>
    <!-- </transition-group> -->

    <!-- Submit button  -->
    <div class="d-flex justify-content-center">
        <button v-if="!isValidQuiz" class="btn btn-danger mt-3 flex-grow-1" disabled="true">
            Cannot submit
        </button>
        <button v-else class="btn btn-success mt-3 flex-grow-1" @click="submitQuiz">
            Submit Questions
        </button>
    </div>

    <!-- <pre><code>{{ JSON.stringify(questions, null, 2) }}</code></pre> -->
</div>
`
            };

            // attempt Quiz
            const attemptQuiz = {
                components: {
                    SCQ
                },
                props: {
                    quizQuestionData: {
                        type: Object,
                        required: true
                    },
                    quizMetaData: {
                        type: Object,
                        required: true,
                    },
                },
                emits: ['quizAttempted'],
                setup(props, { emit }) {

                    const quizResponse = ref({});
                    // pre-fill this with quizQuestionData which will be synced from Question components
                    Object.keys(props.quizQuestionData).forEach((key) => {
                        quizResponse.value[key] = {
                            _answerData: {},
                            _have_answered: false,
                            _mark_obtained: 0,
                        }
                    });

                    // Compute if all questions have been answered
                    const haveAttemptedAll = computed(() => {
                        return Object.values(quizResponse.value).every(q => q._have_answered)
                    });

                    // Update question data
                    const updateUserResponse = (key, data) => {
                        quizResponse.value[key]._answerData = { ...data };
                        quizResponse.value[key]._have_answered = data._have_answered;
                        quizResponse.value[key]._mark_obtained = data._mark_obtained;
                    };

                    const submitAttemptQuiz = () => {
                        alert("updated user response")

                        emit('quizAttempted',
                            {
                                answerData: quizResponse.value,
                                metaData: {
                                }
                            }
                        )
                    };
                    onMounted(() => {
                        alert("attempt Quiz mounted")

                    });

                    return {
                        quizResponse,
                        haveAttemptedAll,
                        updateUserResponse,
                        submitAttemptQuiz

                    };
                },

                template: `
<div>
    <!-- Questions List -->
    <div v-for="(question, key) in quizQuestionData" :key="key">

        <hr class="my-4 border border-2 border-dark opacity-75" />

        <!-- Question Type Selection (Flex Row) -->
        <div class="mb-2 d-flex align-items-center">

            <!-- Leftmost "Q1" Display in Red Circle -->
            <div
                class="d-flex align-items-center justify-content-center fs-5 border border-danger rounded-circle p-2 me-3">
                {{key}} ({{question._qtype}})
            </div>
        </div>

        <!-- Render Question Component Based on Type -->
        <div v-if="question._qtype==='SCQ'">
            <SCQ :mode="'attempt'" :_questionData="question._qdata"
                @attemptedQuestion="updateUserResponse(key,$event)" />
        </div>

        <div v-else>
            in progress
        </div>

    </div>

    <div class="d-flex justify-content-center">
        <button v-if="!haveAttemptedAll" class="btn btn-danger mt-3" disabled="true">
            Please attempt all questions
        </button>
        <button v-else class="btn btn-success mt-3 flex-grow-1" @click="submitAttemptQuiz">
            Submit your Answers
        </button>
    </div>

    <!-- <pre><code>{{ JSON.stringify(quizResponse.value, null, 2) }}</code></pre> -->
</div>
           
            `

            };

            // Review Quiz
            const reviewQuiz = {
                components: {
                    SCQ
                },
                props: {
                    quizQuestionData: {
                        type: Object,
                        required: true
                    },
                    quizMetaData: {
                        type: Object,
                        required: true,
                    },
                    quizAnswerData: {
                        type: Object,
                        required: true
                    }
                },
                emits: ["noemission"],
                setup(props, { emit }) {

                    onMounted(() => {
                        alert("review Quiz mounted")

                    });

                    return {

                    };
                },

                template: `
<div>
    <!-- Questions List -->
    <div v-for="(question, key) in quizQuestionData" :key="key">

        <hr class="my-4 border border-2 border-dark opacity-75" />

        <!-- Question Type Selection (Flex Row) -->
        <div class="mb-2 d-flex align-items-center">

            <!-- Leftmost "Q1" Display in Red Circle -->
            <div
                class="d-flex align-items-center justify-content-center fs-5 border border-danger rounded-circle p-2 me-3">
                {{key}} ({{question._qtype}})
            </div>
        </div>

        <!-- Render Question Component Based on Type -->
        <div v-if="question._qtype==='SCQ'">
            <SCQ :mode="'show'" :_questionData="question._qdata" :_answerData="quizAnswerData[key]._answerData" />
        </div>

        <div v-else>
            in progress
        </div>

    </div>

</div>     
            `

            };

            const app = Vue.createApp({
                components: {
                    createQuiz,
                    attemptQuiz,
                    reviewQuiz
                },
                setup() {

                    const active_QuizQuestion = ref({});
                    const active_QuizAnswer = ref({});

                    const updateActiveQuiz = (updatedQuizQuestion) => {
                        active_QuizQuestion.value = JSON.parse(JSON.stringify(updatedQuizQuestion));
                    };

                    const updateActiveRespose = (updatedQuizAnswer) => {
                        active_QuizAnswer.value = JSON.parse(JSON.stringify(updatedQuizAnswer));
                    };

                    return {
                        active_QuizQuestion,
                        active_QuizAnswer,

                        updateActiveQuiz,
                        updateActiveRespose
                    };
                },

                // main app template
                template: `
                
                <hr class="my-4 border border-2 border-dark opacity-75" />
                <createQuiz @newQuizCreated="updateActiveQuiz" />
                
                <pre><code>{{ JSON.stringify(active_QuizQuestion, null, 2) }}</code></pre>
                
                <hr class="my-4 border border-2 border-dark opacity-75" />
                
                <div v-if="active_QuizQuestion._is_valid">
                    <attemptQuiz 
                    :quizQuestionData="active_QuizQuestion._qData"
                    :quizMetaData="active_QuizQuestion._metaData"
                    @quizAttempted="updateActiveRespose"
                    />
                    </div>
                    
                    <pre><code>{{ JSON.stringify(active_QuizAnswer, null, 2) }}</code></pre>
                <hr class="my-4 border border-2 border-dark opacity-75" />

                <reviewQuiz
                v-if="active_QuizAnswer.answerData"
                :quizQuestionData="active_QuizQuestion._qData"
                :quizMetaData="active_QuizQuestion._metaData"
                :quizAnswerData="active_QuizAnswer.answerData"
                />


                `
            });
            app.mount('#app')


        </script>
</body>

</html>